body{
    font-size: 20px;
}
.main{
    margin: 19px ;
}
input {
    border-radius: 10px;
    width: 20rem;
    height: 3rem;
    font-size: 20px;
    border-left: #7b42d1;
  }
li{
    margin-right: 5px;
}
.btn{
    font-size: 15px;
    width: 3rem;
    height: 3rem;
    border-radius: 50%;
    border: none;
    background-color: #7b68ee;
    color: #fff;
    font-weight: 700;
    margin-left: 5px;
}
.btn:hover{
    background-color: #7b42d1;
    transition: all;
    transition-duration: 0.96ms;
}

li .btn{
    width: 2rem;
    height: 2rem;
    margin-left: 17px;

}